body{
    font-family: 'Mulish', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}
.container {
    max-width: 1360px;
    width: 100%;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.header-top-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-top-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-top-nav .nav-item a{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1B285B;
}
.header-top-nav .nav-item:not(:last-child){
    margin-right: 35px;
}
.lang-item a{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #1B285B;
    margin: 0 5px;
}
.lang-item:first-child{
    margin-left: 65px;
}
.lang-item:last-child{
    margin-right: 25px;
}
.lang{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lang span{
    width: 1px;
    height: 10px;
    background: #1B285B;
}
.header-top{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.header-top{
    padding: 20px 0;
    justify-content: space-between;
}
.head-btn{
    background: #FFFFFF;
    border: 1px solid #1B285B;
    width: 147px;
    height: 36px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #AE280B;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: 0.5s all ease-in;
}
.head-btn:hover{
    background: #AE280B;
    border: #AE280B;
    color: #FFFFFF;
}
.nav .nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav .nav-item a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.nav .nav-item:not(:last-child){
    margin-right: 70px;
}
.nav img{
    margin-left: 5px;
}
.nav{
    display: flex;
    flex-direction: row;
}
.header-bottom{
    background: #1B285B;
    padding: 20px 0;
}
.header-bottom .row{
    justify-content: space-between;
    align-items: center;
}
.home-slider .item .row{
    flex-direction: column;
    align-items: center;
}
.home-slider{
    max-height: 630px;
    height: 100%;
}
.home-slider .container{
    max-width: 680px;
}
.home-slider .container .row{
    margin-right: 50px;
}
.home-slider .swiper-slide{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #F9F9F9;
}
.home-slider .swiper-slide img{
    border-radius: 50% 0 0 50%;
    max-width: 820px;
    max-height: 820px;
}
.slider-little-head{
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #AB2707;
}
.slider-head{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #3D3D3D;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.slider-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
    margin-bottom: 30px;
}
.main-btn{
    width: 167px;
    height: 42px;
    background: #1B285B;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
.main-btn:hover{
    background: #F9F9F9;
    color: #1B285B;
    border: 1px solid #1B285B;
}
.home-slider{
    position: relative;
}
.home-slider .swiper-pagination {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 10px;
    top: 90%;
}
.home-slider .swiper-pagination-bullet{
    margin: 0 5px !important;
    transition: 0.5s all ease-in-out;
}
.home-slider .swiper-pagination-bullet-active{
    width: 15px;
    border-radius: 90px;
}
#home{
    padding-top: 0;
}
section{
    padding: 80px 0;
}
.about-textbox{
    max-width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about-head{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #AE280B;
    font-family: 'Montserrat', sans-serif;
}
.about-body{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;
    margin-bottom: 10px;
}
.about-images{
    position: relative;
}
#about .row{
    flex-direction: row;
    justify-content: space-between;
}
.bg-big{
    width: 373px;
    height: 373px;
    border-radius: 50%;
    background: #edf1ff;
    position: absolute;
    top: 50px;
    left: -50px;
    z-index: -1;
}
.about-bg-1,
.about-bg-2,
.about-bg-3{
    width: 90px;
    height: 30px;
    border-radius: 90px;
    position: absolute;
    z-index: -1;
    background: #edf1ff;
}
.about-bg-1{
    top: 200px;
    left: -120px;
}
.about-bg-2{
    top: 350px;
    left: -250px;
}
.about-bg-3{
    top: 100px;
    right: -120px;
    width: 200px;
}
.about-img-1{
    max-width: 440px;
    max-height: 505px;
}
.about-img-3{
    max-width: 325px;
    max-height: 216px;
    border-radius: 42% 0 0 42%;
    position: absolute;
    top: -100px;
    left: -200px;
}
.about-img-2 {
    max-width: 325px;
    max-height: 216px;
    border-radius: 0 42% 42% 0;
    position: absolute;
    bottom: -100px;
    right: -20%;
}
.head-text{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #AE280B;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 60px;
    padding-top: 40px;
    width: 100%;
    text-align: center;
}
.program-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.program-card{
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(96, 96, 96, 0.25);
    padding: 30px 20px 30px 20px;
    max-width: 253px;
    height: 300px;
    margin-bottom: 26px;
}
.program-head{
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #1B285B;
    margin-bottom: 47px;
}
.program-img{
    max-width: 52px;
    max-height: 52px;
    margin-bottom: 20px;
}
.program-line{
    background: #AE280B;
    border-radius: 90px;
    width: 100%;
    max-width: 75px;
    height: 3px;
    margin-bottom: 20px;
}
.program-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4; 
    -webkit-box-orient: vertical;
}
.program-cards a:not(:nth-child(5n)) .program-card{
    margin-right: 23px;
}
.program-cards a:hover{
    transform: translateY(-20px);
}
.program-cards a{
    transition: 0.5s all ease-in-out;
}
.study-card{
    position: relative;
    max-width: 325px;
    width: 100%;
    max-height: 498px;
    height: 100%;
    cursor: pointer;
}
.study-img{
    width: 100%;
    height: 100%;
} 
.study-card:not(:nth-child(4n)){
    margin-right: 20px;
}
.study-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.study-card:hover .study-textbox{
    top: 0;
}   
.study-textbox{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    background: linear-gradient(359.95deg, rgba(0, 0, 0, 0.5) 57.54%, rgba(0, 0, 0, 0) 102.97%);
    transition: 0.5s all ease-in-out;
}
.study-head{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}
.study-body{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.study-arrow{
    display: flex;
    width: 100%;
    justify-content: end;
}
.study-arrow-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s all ease-in-out;
    opacity: 0;
    right: 100px;
    position: absolute;
    bottom: 20px;
}
.arrow-line {
    position: absolute;
    right: 24px;
    background: #EDF1FF;
    width: 26px;
    height: 3px;
    bottom: 26px;
    transition: 0.5s all ease-in-out;
}
.study-card:hover .arrow-line{
    width: 70px;
}
.study-card:hover .study-arrow-text{
    opacity: 1;
}
.thumb-1{
    max-width: 554px;
    width: 554px;
    max-height: 446px;
    height: 446px;
    object-fit: cover;
}
.thumb-2, .thumb-3, .thumb-4, .thumb-5 {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    object-fit: cover;
}
.thumb-2{
    top: 46px;
    right: -38px;
}
.thumb-3{
    top: 144px;
    right: -38px;
}
.thumb-4{
    top: 238px;
    right: -38px;
}
.thumb-5{
    top: 330px;
    right: -38px;
}
.thumb-images{
    position: relative;
}
#student .row{
    justify-content: space-between;
}
.thumb-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 48%;
}
.thumb-head-1{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1B285B;
}
.thumb-head-2{
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #AE280B;
    margin-bottom: 15px;
}
.thumb-body{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;
    margin-bottom: 30px;
}
.thumb-comment{
    border-left: 10px solid #1B285B;
    position: relative;
    padding: 25px 20px 25px 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(92, 92, 92, 0.25);
}
.thumb-comment span{
    font-weight: 700;
    font-size: 120px;
    line-height: 50px;
    color: #FFECE8;
    /* font-family: 'Montserrat', sans-serif; */
    position: absolute;
    left: 0px;
    top: 25px;
}
.thumb-comment p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1B1B1B;
}
.counter-box{
    position: relative;
}
.counter-box img{
    width: 100%;
    max-height: 185px;
    height: 100%;
}
.counter-text{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 185px;
}
.counter{
    padding: 25px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.counter li{
    flex: 1;
    text-align: center;
    font-size: 50px;
}
.counter li span{
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
span.percent.interest::after {
    content: "%";
    display: inline-block;
}
.counter{
    height: 100%;
    display: flex;
    align-items: center;
}
#counter .container,
#counter .row{
    height: 100%;
}
.counter-box-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.page-head{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #AE280B;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    width: 100%;
}
.big-card{
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(96, 96, 96, 0.25);
    max-width: 555px;
    max-height: 488px;
    width: 100%;
    height: 100%;
    padding: 20px 20px 65px 20px;
    position: relative;
}
.type{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #B0B0B0;
    margin: 15px 0 5px 0;
}
.news-head{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-bottom{
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    left: 0;
    right: 0;
    padding: 20px;
    background: #EDF1FF;
}
.date{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #AE280B;
}
.next{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE280B;
    display: flex;
    align-items: center;
}
.next img{
    margin-left: 10px;
}
.little-card{
    max-width: 383px;
    max-height: 234px;
    width: 100%;
    height: 100%;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(96, 96, 96, 0.25);
    padding: 20px 20px 65px 20px;
}
.little-card .news-head{
    font-size: 14px;
}
.big-card .card-img{
    max-width: 515px;
    width: 100%;
    max-height: 276px;
    height: 100%;
}
.little-card .card-img{
    max-width: 152px;
    width: 100%;
    max-height: 77px;
    height: 100%;
}
.news-events{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.news-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.little-card .next{
    position: absolute;
    right: 20px;
    top: 20px;
}
.social-slider .item{
    position: relative;
}
.social-slider .icon{
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.col-2{
    width: 16%;
}
.col-4{
    width: 32%;
}
footer{
    background: #1B285B;
    margin-top: 60px;
    padding: 80px 0 0 0;
}
.list-head,
.list-head a{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #E0E0E0;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.list-item a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #E0E0E0;
}
.list-item{
    margin-bottom: 13px;
}
.list-item:last-child{
    margin-bottom: 0;
}
.foot-logo{
    margin-top: 112px;
    max-width: 178px;
}
.foot-logo img{
    width: 100%;
}
.list{
    display: flex;
    flex-direction: column;
}
footer .row{
    justify-content: space-between;
}
.location,
.mail{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.location img,
.mail img{
    margin-right: 15px;
}
.phone-numbers{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 20px;
}
.phone-numbers a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin-right: 25px;
}
.phone-numbers img{
    margin-right: 15px;
}
.follow-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin-right: 50px;
}
.follow{
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}
.follow a:not(:last-child){
    margin-right: 20px;
}
.join{
    position: relative;
}
.join-text{
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 7px;
}
.join input{
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 40px;
    background: transparent;
    padding: 10px 110px 10px 25px;
}
.join input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.join-btn{
    width: 100px;
    height: 40px;
    background: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1D;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.footer-bottom{
    background: #FFFFFF;
    margin-top: 80px;
    padding: 25px 0;
}
.footer-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #1B285B;
    font-family: 'Montserrat', sans-serif;
}
.footer-bottom .row{
    justify-content: space-between;
}
.adnsu-foot-logo{
    margin-left: -200px;
}
#page-head{
    padding: 0;
}
#page-head img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.background{
    background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.5) 15.31%, rgba(0, 0, 0, 0) 73.43%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 350px;
    display: flex;
    justify-content: center;
}
.background .container{
    position: absolute;
    bottom: 20px;
}
.page-head-text{
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
#page-head{
    position: relative;
}
.pages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#pages{
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(92, 92, 92, 0.25);
    padding: 25px 0;
}
.page-item a{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #909090;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s all ease-in-out;
}
.page-item a:hover{
    color: #AE280B;
}
.page-item.active a{
    color: #AE280B;
}
#history .row{
    justify-content: space-between;
}
#history{
    padding: 160px;
}
.pop-up{
    background: rgba(27, 40, 91, 0.2);
    backdrop-filter: blur(2px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 99;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all ease-in-out;
    /* justify-content: center;
    align-items: center; */
}
.pop-up.active{
    opacity: 1;
    visibility: visible;
}
.pop-up-main{
    padding: 50px;
    background: #FFFFFF;
    width: 100%;
    height: 705px;
    overflow: hidden;
}
.pop-up-head{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #AE280B;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.pop-up-body {
    padding-bottom: 50px;
    overflow: hidden;
    height: 555px;
    overflow-y: scroll;
    padding-right: 50px;
}
.pop-up-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;
    margin-bottom: 20px;
}
.pop-up-body::-webkit-scrollbar-thumb { 
    box-sizing: content-box;
    background: #263238;
    border-left: 7px solid white;
    border-right: 7px solid white;
}
.pop-up-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #A6A6A6; 
    border-radius: 10px;
    border-left: 9px solid white;
    border-right: 9px solid white;
}
.pop-up-body::-webkit-scrollbar {
    width: 20px;
}
.pop-up-main{
    position: relative;
}
.close-pop-up{
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}
.mission-img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 120px;
}
.page-little-head{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #AE280B;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}
#about .main-btn,
#history .main-btn{
    margin-top: 30px;
}
.mission,
.vision{
    max-width: 40%;
}
#mission .row{
    justify-content: space-between;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.logos img{
    max-width: 220px;
    max-height: 85px;
    object-fit: cover;
}
.little-item a{
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #909090;
    transition: 0.5s all ease-in-out;
}
.little-item.active a{
    color: #AE280B;
}
.little-item:hover a{
    color: #AE280B;
}
.little-item a::before{
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 2px;
    background: #AE280B;
    bottom: 0 !important;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    top: 25px;
}
.little-item.active a::before{
    left: -10px !important;
    width: calc(100% + 20px) !important;
}
.little-item a:hover::before{
    left: -10px !important;
    width: calc(100% + 20px) !important;
}
#little-pages{
    padding: 50px 0;
}
#little-pages .row{
    justify-content: center;
}
.little-pages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
}
#leadership .row{
    flex-direction: column;
}
.leader-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px 0;
}
.leader-block .bg-big {
    top: 50px;
    right: -60px;
    left: auto;
}
.leader-block .about-bg-1 {
    top: 200px;
    right: -120px;
    left: auto;
}
.leader-block .about-bg-2 {
    top: 350px;
    right: -125px;
    left: auto;
}
.leader-block-2 .bg-big {
    top: 50px;
    left: -60px;
    right: auto;
}
.leader-block-2 .about-bg-1 {
    top: 200px;
    left: -120px;
    right: auto;
}
.leader-block-2 .about-bg-2 {
    top: 350px;
    left: -125px;
    width: 200px;
    right: auto;
}
.leader-block-2 .about-bg-3 {
    top: 100px;
    left: -150px;
    width: 80px;
}
.teacher-card{
    width: 325px;
    max-height: 156px;
    height: 100%;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(96, 96, 96, 0.25);
    padding: 10px;
}
.teacher-card-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.teacher-card img{
    max-width: 105px;
    max-height: 136px;
    object-fit: cover;
}
.teacher-textbox{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.teacher-head{
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: #1B285B;
    margin-bottom: 7px;
}
.teacher-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #AE280B;
    font-family: 'Montserrat', sans-serif;
}
.teacher-card .pop-up-main .about-images{
    max-width: 48%;
}
.teacher-card .pop-up-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: -2;
}
.teacher-card .about-img-1 {
    max-width: 440px;
    max-height: 505px;
}
.teacher-card .about-bg-1 {
    top: 200px;
    right: -120px;
    left: auto;
}
.teacher-card .about-bg-2{
    top: 350px;
    left: auto;
    right: -150px;
}
.teacher-card .bg-big {
    width: 373px;
    height: 373px;
    border-radius: 50%;
    background: #edf1ff;
    position: absolute;
    top: 50px;
    left: auto;
    right: -50px;
    z-index: -1;
}
.pop-up-container{
    position: relative;
}
.cv-download {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #2E2E2E;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    right: 39%;
    bottom: 25%;
}
.cv-download img{
    margin-right: 10px;
}
.teacher-card .pop-up .container{
    position: relative;
}
.teacher-card:not(:nth-child(4n)){
    margin-right: 20px;
}
.teacher-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#background{
    max-height: 510px;
}
#accreditation-staff .page-little-head{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.accreditation-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2E2E2E;
    margin-bottom: 60px;
}
.bachelor-text {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
}
.bachelor-text p{
    max-width: 940px;
    width: 100%;
}
.about-blocks .about-head{
    max-width: 710px;
    text-align: center;
}
.about-blocks{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 120px;
}
.about-blocks .about-img-1{
    max-width: 498px;
    width: 498px;
}
.about-little-head{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #AE280B;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}
.about-blocks .thumb-body{
    margin-bottom: 10px;
}
.download-block a{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #AE280B;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 45px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(96, 96, 96, 0.25);
    margin: 0 20px;
    transition: 0.5s all ease-in-out;
}
.download-block{
    display: flex;
    justify-content: center;
    width: 100%;
}
.download-block a:hover{
    transform: translateY(-10px);
}
.img-block img{
    width: 100%;
    max-height: 326px;
    height: 100%;
    object-fit: cover;
}
.part-text{
    max-width: 45%;
}
.part-text-block{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 90%;
    margin: 100px auto;
}
.phd-about .about-head{
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.phd-about{
    display: flex;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 100px;
}
.phd-about .about-little-head{
    margin-top: 50px;
}
.img-blocks .img-block:not(:last-child){
    margin-right: 20px;
}
.img-blocks{
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
}
#undergraudate .img-block{
    display: flex;
    flex-direction: column;
    max-height: 326px;
    height: 326px !important;
}
.img-block a{
    height: 100%;
}
#undergraudate .img-block:nth-child(1){
    max-width: 153px;
}
#undergraudate .img-block:nth-child(2){
    max-width: 267px;
}
#undergraudate .img-block:nth-child(3){
    max-width: 268px;
}
#undergraudate .img-block:nth-child(4){
    max-width: 325px;
}
#undergraudate .img-block:nth-child(5){
    max-width: 325px;
}
#undergraudate .img-block:nth-child(1) img{
    width: 100%;
    max-height: 326px;
    height: 100%;
    object-fit: cover;
}
#undergraudate .img-block:nth-child(2) img{
    width: 100%;
    max-height: 326px;
    height: 100%;
    object-fit: cover;
}
#undergraudate .img-block:nth-child(3) img{
    width: 100%;
    max-height: 153px;
    height: 100%;
    object-fit: cover;
}
#undergraudate .img-block:nth-child(3) a:first-child img{
    margin-bottom: 20px;
}
#undergraudate .img-block:nth-child(4) img{
    width: 100%;
    max-height: 326px;
    height: 326px;
    object-fit: cover;
}
#undergraudate .img-block:nth-child(5) a:first-child img{
    margin-bottom: 20px;
    max-height: 100px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#undergraudate .img-block:nth-child(5) img:last-child {
    max-height: 206px;
    height: 206px;
    width: 100%;
    object-fit: cover;
}
#undergraudate .img-block:nth-child(3) a {
    max-height: 153px;
}
#undergraudate .img-block {
    justify-content: space-between;
}
.under-head{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #1B285B;
    margin-top: 15px;
    margin-bottom: 60px;
}
.undergraduate-blocks{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.col-5{
    width: 40%;
}
.col-6{
    width: 48%;
}
.col-8{
    width: 64%;
}
.col-7{
    width: 56%;
}
.list-spec{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(92, 92, 92, 0.25);
    border-left: 8px solid #1B285B;
}
.under-main-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.specialty-list{
    list-style: disc;
    padding: 40px;
}
.specialty-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1B1B1B;
}
#undergraudate .about-img-1{
    max-width: 498px;
    width: 498px;
}
.under-contact{
    width: 100%;
}
.under-contact .page-little-head{
    width: 100%;
}
.contact-head{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #AE280B;
}
.contact-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-block .phone-numbers a,
.contact-block .mail,
.contact-block .location{
    color: #2E2E2E;
    display: flex;
    align-items: center;
}
.contact-block .phone-numbers img,
.contact-block .mail img,
.contact-block .location img{
    margin-right: 10px;
}
.contact-block .location{
    margin-top: 30px;
}
.contact-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.contact-btn{
    width: 190px;
    height: 42px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Montserrat', sans-serif;
    background: #AE280B;
    transition: 0.5s all ease-in-out;
}
.contact-btn:hover{
    background: #FFFFFF;
    border: 1px solid #AE280B;
    color: #AE280B;
}
.contact-btn-first{
    background: #1B285B;
    margin-right: 20px;
}
.contact-btn-first:hover{
    background: #FFFFFF;
    border: 1px solid #1B285B;
    color: #1B285B;
}
.inter-contact{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.contact-block .phone-numbers{
    margin-bottom: 0 !important;
}
.head-bg{
    background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.5) 15.31%, rgba(0, 0, 0, 0) 73.43%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 350px;
}
#degree .head-text{
    padding: 0 !important;
}
#degree .under-head{
    width: 100%;
    text-align: center;
}
.master-degree .head-text{
    margin-bottom: 70px;
}
.page-head-text {
    max-width: 528px;
}
#program .about-img-1{
    max-width: 498px;
    width: 498px;
}
#program .thumb-body{
    margin-bottom: 10px;
}
.program-cards.phd{
    width: 100%;
    justify-content: center;
}
.select-item{
    cursor: pointer;
}
.select-dropdown{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all ease-in-out;
    position: absolute;
    width: 100%;
    background: #FFFFFF;
    padding: 12px 20px;
    border: 2px solid #1B285B;
    top: 30px;
}
.select-dropdown .select-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1B285B;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 0;
    border-bottom: 2px solid #1B285B;
}
.active .select-dropdown{
    opacity: 1;
    visibility: visible;
}
.select #select{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1B285B;
    font-family: 'Montserrat', sans-serif;
}
.select a{
    padding: 12px 20px;
    /* border-top: 2px solid #1B285B;
    border-left: 2px solid #1B285B;
    border-bottom: 2px solid #1B285B; */
}
.select{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
}
.select-item{
    position: relative;
}
.search-book input{
    max-width: 404px;
    width: 404px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #959595;
    font-family: 'Montserrat', sans-serif;
    padding: 12px 20px;
    /* border-top: 2px solid #1B285B;
    border-bottom: 2px solid #1B285B; */
}
.search-btn{
    width: 151px;
    height: 42px;
    background: #1B285B;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    border-left: 2px solid #1B285B;
}
.search-btn:hover{
    color: #1B285B;
    background: #FFFFFF;
}
.search-line{
    width: 2px;
    height: 20px;
    background-color: #1B285B;
}
.search-form{
    margin: auto;
    border: 2px solid #1B285B;
}
.add-date a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #959595;
    transition: 0.5s all ease-in-out;
}
.add-date a:hover{
    color: #1B285B;
}
.add-date .active{
    color: #1B285B;
}
.books{
    width: 100%;
    margin-top: 80px;
}
.add-date a:first-child{
    margin-right: 30px;
}
.add-date{
    margin-bottom: 30px;
}
.book-card{
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(96, 96, 96, 0.25);
    padding: 10px 10px 20px 10px;
    max-width: 210px;
    width: 100%;
}
.book-card .img-block{
    max-width: 190px;
    width: 100%;
    max-height: 294px;
    height: 100%;
}
.book-card img{
    max-width: 190px;
    width: 100%;
    max-height: 294px;
    height: 100%;
    position: absolute;
}
.book-name{
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: #1B285B;
    margin-top: 15px;
}
.book-author{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #AE280B;
    font-family: 'Montserrat', sans-serif;
    margin-top: 7px;
}
.img-block{
    width: 100%;
    height: 294px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.out-off .stock{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background: rgba(150, 150, 150, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.out-off .stock p{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
.book-card{
    transition: 0.5s all ease-in-out;
}
.book-card:hover{
    transform: translateY(-20px);
}
.book-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.journals{
    width: 100%;
    margin-top: 80px;
}
.journals .about-body{
    max-width: 940px;
    width: 100%;
    text-align: center;
    margin: auto;
}
.journals .head-text{
    padding-bottom: 15px;
}
.logo-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
}
.logo-block a:hover{
    transform: translateY(-10px);
}
.logo-block a{
    transition: 0.5s all ease-in-out;
    display: flex;
    align-items: center;
}
.lib-social{
    display: flex;
    justify-content: space-between;
}
.library-gallery .about-body{
    max-width: 650px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
.library-gallery a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #AE280B;
}
.library-gallery{
    margin: auto;
}
.library-gallery .img-blocks{
    margin-top: 80px;
    margin-bottom: 0;
}
#alumni .thumb-body{
    margin-bottom: 10px;
}
#alumni .thumb-text {
    max-width: 40%;
}
#alumni .about-img-1{
    max-width: 686px;
    width: 686px;
    object-fit: cover;
}
.about-images a{
    position: relative;
}
.vid-icon{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
#alumni .img-blocks{
    margin-top: 120px;
}
.our-alumni{
    width: 100%;
}
.our-alumni .head-text,
.our-alumni .about-body{
    max-width: 710px;
    margin: auto;
    text-align: center;
}
.our-alumni .head-text{
    padding-bottom: 15px;
    padding-top: 0;
}
#alumni .pop-up-main .about-img-1 {
    max-width: 100%;
}
#alumni .cv-download {
    right: 32%;
}
.alumni{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}
.staff-icon{
    margin-top: 10px;
    z-index: 0;
}
#contact .col-5{
    background: #1B285B;
    box-shadow: 2px 0px 10px rgba(27, 40, 91, 0.4);
    padding: 150px 55px;
    max-width: 515px;
}
#contact .contact-head{
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}
.contact-head-red{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #AE280B;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
#contact .contact-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #1B285B;
    margin-bottom: 30px;
}
.contact-input{
    width: 100%;
    background: #F4F4F4;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #3B3B3B;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}
.contact-textarea{
    width: 100%;
    background: #F4F4F4;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #3B3B3B;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    height: 100%;
    max-height: 130px;
    outline: none;
    border: none;
}
#contact .col-6{
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(150, 150, 150, 0.25);
    padding: 30px 60px 30px 80px;
    margin: 25px 0;
}
#contact .contact-btn{
    width: 100%;
    max-width: 100%;
}
#contact .row{
    justify-content: center;
}
.policies-head{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #AE280B;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}
#regulations .row{
    max-width: 920px;
    margin: auto;
}
.polici-table{
    width: 100%;
}
.polici-table tbody{
    width: 100%;
}
.polici-table tr td:not(:first-child){
    text-align: center;
}
.polici-table th{
    padding: 17px 0;
    background: #F5F5F5;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #AE280B;
    font-family: 'Montserrat', sans-serif;
}
.polici-table tr td:first-child{
    padding: 15px 0 15px 115px;
}
.polici-table td{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #3B3B3B;
    background: #FDFDFD;
}
.polici-table tr:nth-child(2n+1) td{
    background: #F9F9F9;
}
.polici-table{
    margin-bottom: 100px;
}
#academics-polici .row{
    max-width: 920px;
    margin: auto;
}
.polici-pages{
    max-width: 500px;
    margin: auto;
}
.news-events-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.new-event-card{
    padding: 16px 16px 0 16px;
    display: flex;
    flex-direction: column;
    max-width: 433px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(96, 96, 96, 0.25);
}
.new-event-card .news-img{
    width: 100%;
    height: 100%;
    max-height: 219px;
    object-fit: cover;
}
.card-type{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #B0B0B0;
    margin: 13px 0 5px 0;
    text-transform: uppercase;
}
.news_head{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
.news_text{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 25px;
}
.news-card-bottom{
    background: #EDF1FF;
    margin: 0 -16px 0 -16px;
    padding: 9px 11px 9px 16px;
    display: flex;
    justify-content: space-between;
}
.news-date{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #AE280B;
}
.news-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #AE280B;
}
#events .new-event-card{
    max-width: 555px;
}
#events .news-events-cards{
    justify-content: center;
}
.news-single-text:first-child{
    margin-top: 30px;
}
.news-single-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;
    margin-bottom: 10px;
}
#news-single .card-type{
    margin-right: 10px;
}
#news-single .col-5 img{
    width: 100%;
}
#news-single .col-5{
    display: flex;
    align-items: center;
}
#news-single .row{
    justify-content: space-between;
}
#news .card-type,
#events .card-type{
    text-transform: uppercase;
}
.career-card{
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(96, 96, 96, 0.25);
    padding: 20px;
    max-width: 320px;
    margin-left: 20px;
    margin-bottom: 20px;
}
#career .card-type{
    text-transform: capitalize;
    margin: 0;
}
.career-card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.career-cards .news_head{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 30px;
}
.career-cards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}
.career-single{
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(96, 96, 96, 0.25);
    max-width: 995px;
    margin: auto;
    padding: 60px 60px 60px 80px;
}
.career-head{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1B285B;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.career-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #3F3F3F;
    margin-bottom: 50px;
}
.career-list .career-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #3F3F3F;
    margin-bottom: 5px;
}
.career-list{
    margin-bottom: 50px;
    list-style: disc;
    margin-left: 20px;
}
.donations .about-images{
    max-width: 440px;
    width: 440px;
    max-height: 550px;
    height: 400px;
}
.donations .about-img-3 {
    max-width: 400px;
    max-height: 266px;
    height: 100%;
    border-radius: 42% 0 0 42%;
    position: absolute;
    top: -85px;
    object-fit: cover;
    left: -272px;
}
.donations .about-img-2 {
    max-width: 497px;
    max-height: 330px;
    height: 100%;
    object-fit: cover;
    border-radius: 0 42% 42% 0;
    position: absolute;
    bottom: -130px;
    right: -135px;
}
.donations{
    padding-top: 290px;
}
#donate-form form{
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(150, 150, 150, 0.25);
    max-width: 1092px;
    margin: auto;
    padding: 60px 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#donate-form .contact-input{
    max-width: 440px;
}
#donate-form .contact-textarea{
    max-width: 440px;
}
#donate-form .contact-head-red{
    margin-bottom: 60px;
}
#donate-form .contact-btn{
    max-width: 440px;
    width: 100%;
}
#donate-list{
    max-width: 920px;
    margin: auto;
}
.phone-numbers a:last-child{
    margin: 0;
}
.dropdown{
    background: #1B285B;
    height: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 40px;
    z-index: 999;
    width: 190px;
    padding: 20px;
    left: -22px;
    transition: 0.5s all ease-in-out;
}
.nav-item:hover .dropdown{
    opacity: 1;
    height: 148px;
    visibility: visible;
}
.dropdown-item a{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #F9F9F9;
}
.dropdown-item{
    margin-bottom: 12px;
}
.nav-item{
    position: relative;
}
.drop-form{
    padding: 20px;
    background: #1B285B;
    position: absolute;
    z-index: 99;
    left: -228px;
    display: flex;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all ease-in-out;
}
.drop-form.active{
    opacity: 1;
    height: 60px;
    visibility: visible;
}
.search{
    position: relative;
}
.drop-input{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #1B285B;
    margin-right: 10px;
    height: 20px;
}
.drop-close{
    cursor: pointer;
    max-width: 15px;
    max-height: 15px;
}
.mobile-lang{
    display: none !important;
}
.mobile-nav{
    display: none !important;
}
.mobile-sign{
    display: none !important;
}

.nav-close{
    display: none !important;
}